<!DOCTYPE html>
<html lang="en">
<head>
  <title>URl Monitoring System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body> 
 
<div class="container" style="margin: auto;">
  <h1><b>Url Monitoring System</b></h1>
  <div class="card">
    <div class="card-body">

        <form action="/monitor" method="POST">
            <div class="form-group">
              <label for="Url">Enter URL</label>
              <input type="url" class="form-control" id="url" name="url"  placeholder="Enter URL">
            </div>
            <div class="form-group">
              <label for="frequency">Select Frequency : </label>
              <select
                type="frequency"
                class="form-control"
                name="frequency"
                id="frequency"
              >
                <option value="0.16">10 sec</option>
                <option value="1">1 min</option>
                <option value="5">5 mins</option>
                <option value="10">10 mins</option>
                <option value="15">15 mins</option>
                <option value="60">1 hr</option>
                <option value="240">4 hrs</option>
                <option value="360">6 hrs</option>
                <option value="1440">Daily</option>
                
              </select>
            </div>

              <div class="form-group" id="hidden" style="display: none;">
              <div class="form-group" >
                <label for="email">Enter Email</label>
                <input type="email" class="form-control" name="email" placeholder="Enter Email">
              </div>
              <div class="form-group" >
                <label for="mob">Enter Mobile No.</label>
                <input type="number" class="form-control" name="mob" placeholder="Enter Mobile No.">
              </div>
            </div>

              <button type="button" class="btn btn-primary" id="hid_after" onclick="show()" style="margin-bottom: 10px;">Next</button>

            <button type="submit" class="btn btn-primary" id="hid_btn" style="display: none;">Submit</button>
          </form>
          <script>
              function show(){
               document.getElementById('hidden').style.display="block";
               document.getElementById('hid_btn').style.display="block";
               document.getElementById('hid_after').style.display="none";
            }
          </script>
    </div>
  </div>
</div>

</body>
</html>
